h1 {
    font-family: "나눔고딕";
}
div {
    max-width: 960px;
    font-family: "나눔고딕";
    margin: 30px 0;
    padding: 10px 20px;
}
.strong {font-weight: 600; text-decoration: underline;}
.pink {color:palevioletred}
.grey-box {
    background-color: #F6F6F7;
    text-align: center;
}

.img-box{
    background-image: url("a.png");
    background-size: cover;
    word-break: keep-all;
    text-align: right;

}

.sm {
    font-size: 12px;
    color: grey;
}